Test/Connected Services/WCFService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOfficeProductsRepresent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficeProductsRepresent" nillable="true" type="tns:OfficeProductsRepresent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfficeProductsRepresent" nillable="true" type="tns:ArrayOfOfficeProductsRepresent" />
  <xs:complexType name="OfficeProductsRepresent">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="OfficeProductsRepresent" nillable="true" type="tns:OfficeProductsRepresent" />
  <xs:complexType name="ArrayOfOfficeRepresent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficeRepresent" nillable="true" type="tns:OfficeRepresent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfficeRepresent" nillable="true" type="tns:ArrayOfOfficeRepresent" />
  <xs:complexType name="OfficeRepresent">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="OfficeRepresent" nillable="true" type="tns:OfficeRepresent" />
  <xs:complexType name="ProductRepresent">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ProductRepresent" nillable="true" type="tns:ProductRepresent" />
</xs:schema>